@import "utils/utils";
@import "components/components";

main{
    font-family: "helvetica",sans-serif;
    font-weight: 100;
}
.add-button{
    @extend %button;
    background: var(--green);
    border-radius: 100%;
    top:45vh;
    color: white;
    height: 4rem;
    padding: 1.2rem;
    position: fixed;
    right: 3rem;
    width: 4rem;

    &:hover{
        background: var(--greenhover);
    }
}
.close_btn{
    @extend %button;
    background: rgb(40, 40, 41);
    color: white;    
    width: 90%;

    &:hover{
        background: rgb(56, 56, 58);
    }
}

:root{
    --green:#80bd01;
    --greenhover:#527701;
    --darkblue: #002857;
    --darkbluehover:#034b9e;
}