 @import "_details";
 @import "_list";
 @import "form";

 header{
    @include flex(row);
    padding: 1rem 0;
    
    img{
        width: 50vw;
        max-width: 250px;
        min-width: 80px;
    }
 }